* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
html,
body {
  width: auto;
  min-height: 1000px;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/Museo-Sans-Cyrl-300.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/Museo-Sans-Cyrl-500.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/Museo-Sans-Cyrl-700.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/Museo-Sans-Cyrl-900.ttf');
  font-weight: 900;
  font-style: normal;
}
body {
  font-size: 13px;
  line-height: 21px;
  color: #161616;
  font-weight: normal;
  font-family: 'Museo Sans Cyrl', sans-serif;
}
body button,
body a,
body input {
  outline: none;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.b-wrapper {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 30px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  overflow: hidden;
}
.b-wrapper--list {
  padding: 0 25px;
}
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  padding-bottom: 10px;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before {
  display: table;
  content: "";
}
.slick-track:after {
  display: table;
  content: "";
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  max-width: 100%;
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
}
.slick-prev,
.slick-next {
  position: absolute;
  width: 36px;
  height: 36px;
  border: none;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}
.b-slideshow .slick-prev {
  left: 45px;
  top: 45%;
  background: rgba(0, 0, 0, 0.1) url("../img/spritesheet.png") no-repeat;
  background-position: -885px -5px;
}
.b-slideshow .slick-prev:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.b-slideshow .slick-prev:active {
  opacity: 0.5;
  background-color: #000000;
}
.b-slideshow .slick-next {
  right: 45px;
  top: 45%;
  background: rgba(0, 0, 0, 0.1) url("../img/spritesheet.png") no-repeat;
  background-position: -912px -5px;
}
.b-slideshow .slick-next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.b-slideshow .slick-next:active {
  opacity: 0.5;
  background-color: #000000;
}
.b-carousel .slick-prev {
  top: 7px;
  right: 45px;
  background: #ffffff url("../img/spritesheet.png") no-repeat;
  background-position: -823px -5px;
  border: 1px solid #dddddd;
}
.b-carousel .slick-prev:hover {
  background-color: #eeeeee;
}
.b-carousel .slick-prev:active {
  background-color: #d7dcde;
}
.b-carousel .slick-next {
  top: 7px;
  right: 0;
  background: #ffffff url("../img/spritesheet.png") no-repeat;
  background-position: -850px -5px;
  border: 1px solid #dddddd;
}
.b-carousel .slick-next:hover {
  background-color: #eeeeee;
}
.b-carousel .slick-next:active {
  background-color: #d7dcde;
}
.main-wrapper {
  padding: 0 0 0 0;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  min-height: 100%;
}
.wrapper {
  min-width: 320px;
  max-width: 1280px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  position: relative;
}
.content {
  width: 100%;
  min-width: 320px;
  text-align: left;
}
.wrapper {
  margin-top: 100px;
}
.b-button {
  display: block;
  width: 100px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  font-size: 15px;
  font-weight: bold;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}
.b-button--brand-link {
  width: 160px;
  height: 36px;
  padding-top: 7px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  font-size: 13px;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  position: absolute;
  right: 90px;
  top: 7px;
  z-index: 10;
}
.b-button--brand-link:hover {
  background-color: #eeeeee;
}
.b-button--brand-link:active {
  background-color: #d7dcde;
}
.b-button--advice-link {
  width: 180px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding-top: 10px;
  -o-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  transition: 0.7s ease;
}
.b-button--advice-link:hover {
  background-color: #eeeeee;
}
.b-button--advice-link:active {
  background-color: #d7dcde;
}
.b-button--article-link-read-more {
  width: 165px;
  height: 40px;
  background-color: #ffdc00;
  padding-top: 10px;
  color: #161616;
  display: inline-block;
}
.b-button--article-link-read-more:hover {
  background-color: #d9c026;
}
.b-button--article-link-read-more:active {
  background-color: #bfae40;
}
.b-button--article-link-read-more-laptop:hover {
  background-color: #ecce13;
}
.b-button--article-link-read-more-laptop:active {
  background-color: #d9c026;
}
.b-button--article-link-all-product {
  display: inline-block;
  width: 135px;
  height: 40px;
  padding-top: 10px;
  border: 1px solid #dddddd;
  margin-left: 6px;
  background-color: #ffffff;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}
.b-button--article-link-all-product:hover {
  background-color: #eeeeee;
}
.b-button--article-link-all-product:active {
  background-color: #f5f5f5;
}
.b-button--subscribe {
  width: 190px;
  height: 40px;
  background-color: #ffdc00;
  border: 1px solid #ffdc00;
  padding-top: 4px;
  color: #161616;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-left: 10px;
}
.b-button--subscribe:hover {
  background-color: #ecce13;
}
.b-button--subscribe:active {
  background-color: #d9c026;
}
.b-button--search-header {
  width: 25px;
  height: 25px;
  border: none;
  background: #ffffff url('../img/spritesheet.png') no-repeat;
  background-position: -10px -10px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.b-button--search-header:hover {
  opacity: 0.7;
}
.b-button--search-header:active {
  opacity: 0.5;
}
.b-title {
  margin: 0;
  padding: 0;
}
.b-title--h2 {
  padding-top: 45px;
  padding-bottom: 30px;
  color: #161616;
  font-size: 25px;
  line-height: 45px;
}
.b-title--h2-banner {
  padding-left: 5px;
}
.b-title--h2-brand {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
.b-title--h2-product {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
.b-title--h2-recently-viewed {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -10px;
  left: 0;
}
.b-title--h2-subscribe {
  padding-top: 20px;
  padding-bottom: 15px;
}
.b-title--knowledge {
  padding-top: 55px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 25px;
  font-weight: 300;
}
.b-title--knowledge span {
  font-weight: bold;
}
.b-title--h3 {
  padding-top: 35px;
  padding-bottom: 10px;
  color: #333333;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
}
.b-title--article {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 35px;
  line-height: 45px;
}
.b-title--article-bracelet {
  color: #ffffff;
}
.b-title--hidden {
  display: none;
}
.b-link {
  display: block;
  width: 62px;
  height: 18px;
  font-size: 11px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  padding-left: 6px;
}
.b-link--hit {
  width: 36px;
  background-color: #309ace;
  color: #ffffff;
}
.b-link--hit:hover {
  opacity: 0.7;
}
.b-link--hit:active {
  opacity: 1;
}
.b-link--article-hit {
  position: absolute;
  top: 20px;
  left: 20px;
}
.b-link--action {
  width: 62px;
  background-color: #eb2e2c;
  color: #ffffff;
  position: relative;
}
.b-link--action:hover {
  opacity: 0.7;
}
.b-link--action:active {
  opacity: 1;
}
.b-link--action::after {
  display: block;
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -807px -9px;
  right: 6px;
  top: 5px;
}
.b-link--article-action {
  position: absolute;
  top: 40px;
  left: 20px;
}
.b-img-container {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin: 0 auto;
  width: auto;
  height: auto;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.b-img-container img {
  display: block;
}
.b-img-container--article {
  width: 220px;
  height: 150px;
  background-color: #ffffff;
  margin-bottom: 50px;
}
.b-img-container--brand {
  margin-top: auto;
}
.b-img-container--recently-viewed {
  width: 100px;
  height: 70px;
  margin-left: 10px;
}
.b-carousel {
  width: auto;
  position: relative;
}
.b-carousel__title {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  height: 100px;
}
.b-carousel--product {
  position: relative;
}
.b-carousel--brand {
  position: relative;
}
.b-carousel__wrapper {
  overflow: hidden;
  position: relative;
}
.b-carousel__items--brand {
  padding-top: 80px;
  padding-bottom: 40px;
}
.b-carousel__items--product {
  padding-top: 60px;
}
.b-carousel__items--recently-viewed {
  min-height: 120px;
  padding-top: 70px;
  padding-bottom: 10px;
}
.b-carousel__block {
  width: 290px;
  list-style: none;
}
.b-carousel__block--product {
  margin: 0 5px;
}
.b-carousel__block--brand {
  border: 1px solid #f5f5f5;
  margin: 0 5px;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}
.b-carousel__block--brand:hover {
  border-color: #dddddd;
}
.b-carousel__block--brand:active {
  border-color: #999999;
}
.b-carousel__block--recently-viewed {
  border: 1px solid #f5f5f5;
  margin: 0 5px;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}
.b-carousel__block--recently-viewed:hover {
  border-color: #dddddd;
}
.b-carousel__block img {
  display: block;
}
.b-slideshow {
  max-width: auto;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}
.b-slideshow__slide img {
  width: 100%;
}
.slick-dots {
  position: absolute;
  bottom: 15px;
  right: 45px;
  width: 100px;
}
.slick-dots li {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-left: 10px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.slick-dots button {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  width: 10px;
  height: 10px;
  font-size: 0;
  border-radius: 50%;
  outline: none;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 0;
}
.slick-active button {
  background-color: rgba(0, 0, 0, 0.6);
}
.b-accordeon {
  width: 100%;
}
.b-accordeon--footer {
  width: 75%;
}
.b-accordeon__list {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  width: auto;
}
.b-accordeon__list--footer {
  width: 100%;
}
.b-accordeon__item {
  width: 100%;
}
.b-header-page {
  width: auto;
  min-height: 620px;
  position: relative;
}
.b-top-panel {
  width: auto;
  min-height: 45px;
  border-bottom: 1px solid #eeeeee;
  padding-top: 15px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  text-transform: uppercase;
  color: #666666;
}
.b-top-panel a {
  text-decoration: none;
}
.b-top-panel__container {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.b-top-panel__phone {
  font-size: 15px;
  color: #333333;
  font-weight: bold;
}
.b-select-sity__link {
  border-bottom: 1px dotted #666666;
}
.b-select-sity__link:hover {
  color: #000000;
}
.b-select-sity__link:active {
  color: #999999;
}
.b-user-nav {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: 40px;
}
.b-user-nav__item {
  width: auto;
  margin-right: 30px;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}
.b-user-nav__item--active a {
  color: #eb2e2c;
}
.b-user-nav__item--active a:hover {
  color: #eb2e2c;
}
.b-user-nav__item--active a:active {
  color: #eb2e2c;
}
.b-user-nav__item--catalog {
  display: none;
}
.b-user-nav__link {
  display: block;
  padding: 10px 0;
  padding-top: 0;
}
.b-user-nav__link:hover {
  color: #000000;
}
.b-user-nav__link:active {
  color: #999999;
}
.b-header-block {
  width: auto;
  min-height: 85px;
  padding-top: 20px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.b-header-block__button-menu {
  display: none;
  width: 40px;
  max-height: 55px;
  background-color: #fff;
  border: none;
  outline: none;
  font-size: 0;
  position: relative;
  margin-right: 10px;
}
.b-header-block__button-menu::before {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  top: 12px;
  left: 0;
  background-color: #999999;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  box-shadow: 0 4px 0 0 #999999;
}
.b-header-block__button-menu::after {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  top: 20px;
  left: 0;
  background-color: #999999;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}
.b-header-block__button-menu:hover {
  opacity: 0.7;
}
.b-header-block__button-menu:active {
  opacity: 0.5;
}
.b-header-block__button-menu--close::before {
  box-shadow: none;
  top: 16px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.b-header-block__button-menu--close::after {
  display: block;
  top: 16px;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.b-search--header-block {
  position: relative;
  min-width: 678px;
  width: 43%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  margin-left: 35px;
}
.b-input {
  width: 390px;
  min-height: 40px;
  border: 1px solid #eeeeee;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding-left: 12px;
}
.b-input--search-header {
  width: 100%;
}
.b-input--subscribe {
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width: -o-calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  background-color: #ffffff;
}
.b-account--header-block {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: 145px;
  line-height: 17px;
}
.b-account__title {
  font-weight: bold;
  color: #333333;
}
.b-account__enter {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  padding-right: 20px;
  padding-top: 7px;
}
.b-account__link {
  color: #666666;
}
.b-account__link:hover {
  color: rgba(225, 55, 55, 0.6);
}
.b-account__link:active {
  color: #999999;
}
.b-account__cart {
  display: inline-block;
  width: 65px;
  height: 45px;
  border-left: 1px solid #eeeeee;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -83px -10px;
  font-size: 0;
  vertical-align: top;
}
.b-account__cart:hover {
  opacity: 0.7;
}
.b-account__cart:active {
  opacity: 1;
}
.b-main-nav {
  min-height: 60px;
  background-color: #ffdc00;
  color: #161616;
  font-size: 15px;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0;
}
.b-main-nav__list {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
  color: inherit;
  padding-top: 20px;
}
.b-main-nav__item:first-of-type {
  margin-left: -15px;
}
.b-main-nav__link {
  padding: 5px 20px;
}
.b-main-nav__link:hover {
  color: #f5f5f5;
}
.b-main-nav__link:active {
  color: #999999;
}
.b-submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
}
.b-submenu li {
  list-style: none;
  margin: 0;
  padding: 7px 10px;
}
.b-submenu--catalog {
  background-color: #fff;
  border: 1px solid #dddddd;
  border-bottom: none;
}
.b-submenu--catalog li {
  border-bottom: 1px solid #dddddd;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}
.b-submenu--catalog li:hover {
  background-color: #eeeeee;
}
.b-main-page {
  width: auto;
}
.b-banner {
  width: auto;
  min-height: 940px;
  padding-bottom: 30px;
  background-color: #ffffff;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.b-banner__list {
  padding: 0;
  font-size: 0;
}
.b-banner__item {
  list-style: none;
  display: inline-block;
  font-size: 13px;
  margin: 0 5px;
  height: 100%;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}
.b-banner__item:hover {
  opacity: 0.7;
}
.b-banner__item:active {
  opacity: 1;
}
.b-banner__item--big {
  width: -moz-calc(50% - 10px);
  width: calc(50% - 10px);
  width: -webkit-calc(50% - 10px);
}
.b-banner__item--small {
  width: -moz-calc(25% - 10px);
  width: calc(25% - 10px);
  width: -webkit-calc(25% - 10px);
}
.b-banner__item img {
  width: 100%;
  height: 100%;
}
.b-features {
  width: auto;
  min-height: 155px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.b-features__list {
  padding: 0;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.b-features__item {
  list-style: none;
  height: 155px;
  width: 24%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.b-features__item img {
  margin-right: 20px;
}
.b-product {
  width: auto;
  min-height: 845px;
  border-bottom: 1px solid #eeeeee;
}
.b-product__list {
  padding: 0;
  font-size: 0;
}
.b-product__item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  margin: 0 5px;
  width: calc(25% - 10px);
  width: -moz-calc(25% - 10px);
  width: -webkit-calc(25% - 10px);
  margin-bottom: 40px;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}
.b-product__item:hover {
  opacity: 0.7;
}
.b-product__item:active {
  opacity: 1;
}
.b-product__link img {
  display: block;
  width: 100%;
  height: 100%;
}
.b-product__link span {
  display: block;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}
.b-brand {
  min-height: 295px;
  padding-top: 45px;
}
.b-brand__item {
  width: auto;
  display: block;
}
.b-brand img {
  width: 100%;
  height: 100%;
}
.b-advertisement {
  width: auto;
  min-height: 310px;
  padding-top: 0;
  padding-bottom: 20px;
}
.b-advertisement img {
  width: 100%;
}
.b-advertisement img:hover {
  opacity: 0.7;
}
.b-advertisement--tablet {
  display: none;
}
.b-advertisement--mobile {
  display: none;
}
.b-recommended-product {
  width: auto;
  min-height: 545px;
  padding-top: 45px;
  padding-bottom: 50px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.b-product-list {
  padding: 0;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.b-product-card {
  min-height: 375px;
  padding: 0 20px;
  padding-top: 20px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.b-product-card__description,
.b-product-card__price {
  display: block;
}
.b-product-card__description {
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 15px;
  line-height: 21px;
  font-weight: bold;
  color: #666666;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}
.b-product-card__description:hover {
  color: #000000;
}
.b-product-card__description:active {
  color: #666666;
}
.b-product-card__price {
  font-size: 24px;
  line-height: 31px;
  font-weight: 900;
  margin-top: auto;
}
.b-product-card__price span {
  font-size: 11px;
  margin-left: 5px;
}
.b-product-card img {
  display: block;
  height: 100%;
  width: auto;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}
.b-product-card img:hover {
  opacity: 0.7;
}
.b-product-card img:active {
  opacity: 1;
}
.b-product-card__img-container {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  width: auto;
  height: 200px;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  margin-bottom: 25px;
}
.b-advice {
  width: auto;
  min-height: 500px;
}
.b-advice__panel {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  min-height: 65px;
}
.b-tabs {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  width: auto;
  padding-right: 5px;
  overflow: hidden;
}
.b-tabs__item {
  list-style: none;
  margin-right: 35px;
  padding-top: 13px;
  width: auto;
  position: relative;
}
.b-tabs__item::before {
  position: absolute;
  display: block;
  content: "";
  width: 27px;
  height: 27px;
  top: 9px;
  background: url("../img/spritesheet.png") no-repeat;
}
.b-tabs__item:first-of-type::before {
  background-position: -154px -9px;
}
.b-tabs__item:nth-of-type(2)::before {
  background-position: -200px -10px;
}
.b-tabs__item:nth-of-type(3)::before {
  background-position: -325px -10px;
}
.b-tabs__item:nth-of-type(4)::before {
  background-position: -367px -10px;
}
.b-tabs__item:nth-of-type(5)::before {
  background-position: -412px -10px;
}
.b-tabs__link {
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 28px;
  padding-right: 10px;
  padding-left: 35px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  color: #999999;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}
.b-tabs__link:hover {
  color: #000000;
}
.b-tabs__link--active {
  color: #000000;
  border-bottom: 6px solid #ffdc00;
}
.b-tab-content {
  display: none;
  -webkit-animation: fade 0.7s;
  -moz-animation: fade 0.7s;
       animation: fade 0.7s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.b-article {
  width: auto;
  min-height: 545px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding-bottom: 35px;
}
.b-article--bracelet {
  background: url("../img/background-bracelet.jpg") no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
}
.b-article--laptop {
  min-height: 550px;
  background-color: #fafafa;
  border-bottom: 1px solid #f5f5f5;
}
.b-article__container {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.b-article__content {
  width: 38%;
  padding-right: 20px;
  padding-top: 35px;
}
.b-article__content-info {
  font-size: 15px;
  padding-bottom: 10px;
}
.b-article__link-how-choose {
  display: block;
  padding-left: 25px;
  margin-bottom: 20px;
  position: relative;
  width: 130px;
  opacity: 0.5;
}
.b-article__link-how-choose:hover {
  opacity: 1;
}
.b-article__link-how-choose:active {
  opacity: 0.5;
}
.b-article__link-how-choose--bracelet::before {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  top: 1px;
  left: 0;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -247px -10px;
}
.b-article__link-how-choose--laptop::before {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  top: 1px;
  left: 0;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -286px -10px;
}
.b-article__product-list {
  width: 590px;
  padding-top: 40px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.b-article__product {
  width: 290px;
  min-height: 470px;
  padding: 0 20px;
  padding-top: 60px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #f5f5f5;
  color: #161616;
  cursor: pointer;
  position: relative;
}
.b-article__product img {
  display: block;
}
.b-article__product--bracelet-1 {
  margin-right: 10px;
}
.b-article__product--laptop-1 {
  margin-right: 10px;
}
.b-article__product-about-description {
  max-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 15px;
  font-weight: bold;
  color: #666666;
}
.b-article__product-about-price {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 900;
}
.b-article__product-about-price--red {
  color: #eb2e2c;
}
.b-article__product-about-price span {
  font-size: 11px;
  text-transform: uppercase;
}
.b-article__product-about-prev-price {
  display: inline-block;
  font-size: 11px;
  line-height: 11px;
  font-weight: 900;
  margin-left: 5px;
}
.b-article__product-about-delivery {
  display: block;
  margin-bottom: 10px;
  font-weight: 300;
}
.b-article__product-about-rating {
  display: block;
  color: #999999;
  padding-left: 77px;
  position: relative;
}
.b-article__product-about-rating::before {
  display: block;
  content: "";
  width: 70px;
  height: 11px;
  position: absolute;
  top: 4px;
  left: 0;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -457px -10px;
}
.b-recently-viewed {
  min-height: 250px;
  padding-top: 45px;
}
.b-recently-viewed__link {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  min-height: 120px;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.b-recently-viewed__container {
  margin-bottom: auto;
  height: 95px;
  -webkit-flex-grow: 2;
     -moz-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 0 10px;
  padding-top: 10px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.b-recently-viewed__name {
  display: block;
  font-size: 13px;
  line-height: 16px;
  color: #666666;
  font-weight: bold;
  margin-top: auto;
  padding-top: 5px;
}
.b-recently-viewed__price {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  margin-top: auto;
  margin-bottom: 5px;
}
.b-recently-viewed__price span {
  font-size: 11px;
  margin-left: 5px;
}
.b-recently-viewed__price--red {
  color: #eb2e2c;
}
.b-subscribe {
  min-height: 160px;
}
.b-subscribe__block {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  padding-bottom: 40px;
}
.b-subscribe__pers-recom {
  display: block;
  font-size: 15px;
  line-height: 20px;
  padding-top: 5px;
  padding-right: 30px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.b-subscribe__form {
  width: 50%;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.b-footer-page {
  width: auto;
  min-height: 380px;
  background-color: #efede7;
}
.b-footer-page__container {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  padding-bottom: 30px;
}
.b-footer-page__column {
  max-width: 250px;
  padding: 0 10px;
  padding-right: 20px;
}
.b-footer-page__column:first-of-type {
  padding-left: 0;
}
.b-footer-page__column--contacts {
  max-width: 290px;
  padding-right: 0;
}
.b-footer-page__column-list {
  padding: 0;
}
.b-footer-page__column-item {
  list-style: none;
}
.b-footer-page__column-link {
  color: #666666;
  line-height: 23px;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}
.b-footer-page__column-link:hover {
  color: #f28284;
}
.b-footer-page__column-link:active {
  color: #999999;
}
.b-footer-page__phone {
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
  display: block;
}
.b-footer-page__phone:hover {
  color: #f28284;
}
.b-footer-page__phone:active {
  color: #999999;
}
.b-footer-page__column-p {
  padding-top: 5px;
}
.b-footer-page__column-p span {
  display: block;
  line-height: 19px;
}
.b-social-links {
  display: block;
  width: 270px;
  min-height: 80px;
  padding: 0;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.b-social-links__container {
  list-style: none;
  display: block;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #ccc8bd;
  position: relative;
  -o-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  transition: 0.5s ease;
}
.b-social-links__container:last-of-type {
  margin-right: 0;
}
.b-social-links__container:hover {
  background-color: #f7b0b1;
}
.b-social-links__container:active {
  background-color: #999999;
}
.b-social-link {
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  margin: 0 auto;
  font-size: 0;
  background: url("../img/spritesheet.png") no-repeat;
  width: 25px;
  height: 25px;
}
.b-social-link--vk {
  background-position: -547px -3px;
}
.b-social-link--fb {
  background-position: -582px -8px;
}
.b-social-link--ok {
  background-position: -613px -8px;
}
.b-social-link--in {
  background-position: -647px -8px;
}
.b-social-link--tw {
  background-position: -686px -6px;
}
.b-social-link--ytb {
  background-position: -725px -10px;
}
.b-social-link--goo {
  background-position: -765px -6px;
}
.b-copyright {
  width: auto;
  height: 75px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-top: 1px solid #e4e1d9;
  padding-top: 20px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  color: #666666;
}
.b-copyright__technosila {
  display: block;
}
.b-copyright__author {
  margin-right: 85px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.b-copyright__author img {
  display: block;
  margin-right: 10px;
}
.b-copyright__author span {
  margin-right: 10px;
}
.b-copyright__author-link {
  border-bottom: 1px solid #999999;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}
.b-copyright__author-link:hover {
  color: #f28284;
}
.b-copyright__author-link:active {
  color: #999999;
}
@media (max-width: 1280px) {
  .b-wrapper {
    padding: 0 20px;
  }
  .b-wrapper--list {
    padding: 0 15px;
  }
  .b-title--h2 {
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 45px;
  }
  .b-title--h2-brand {
    padding: 0;
  }
  .b-title--h2-product {
    padding: 0;
  }
  .b-title--h2-recently-viewed {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
  }
  .b-title--h2-subscribe {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .b-title--knowledge {
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 30px;
  }
  .b-title--article {
    padding: 0;
    font-size: 30px;
    line-height: 35px;
  }
  .b-button {
    font-size: 13px;
  }
  .b-button--advice-link {
    width: 155px;
  }
  .b-button--article-link-read-more {
    width: 145px;
    height: 35px;
    padding-top: 8px;
  }
  .b-button--article-link-all-product {
    width: 125px;
    height: 35px;
    padding-top: 8px;
  }
  .b-button--subscribe {
    width: 145px;
    padding-top: 3px;
  }
  .b-carousel__items--brand {
    padding-top: 60px;
  }
  .b-img-container img {
    width: auto;
    height: 100%;
  }
  .b-img-container--article {
    width: 180px;
    height: 150px;
    margin-bottom: 20px;
  }
  .b-img-container--recently-viewed {
    width: auto;
    height: 55px;
  }
  .b-link {
    width: 62px;
    height: 18px;
    font-size: 11px;
  }
  .b-link--hit {
    width: 36px;
  }
  .b-link--article-hit {
    top: 10px;
    left: 20px;
  }
  .b-link--action {
    width: 62px;
  }
  .b-link--article-action {
    top: 30px;
    left: 20px;
  }
  .b-header-page {
    min-height: 505px;
  }
  .b-top-panel {
    min-height: 37px;
    padding-top: 7px;
  }
  .b-top-panel__phone {
    font-size: 11px;
  }
  .b-select-sity {
    font-size: 11px;
    font-weight: bold;
  }
  .b-user-nav {
    font-size: 11px;
    font-weight: bold;
    width: 62%;
    margin-left: 20px;
  }
  .b-user-nav__item {
    margin-right: 15px;
  }
  .b-user-nav__link {
    padding: 0;
  }
  .b-header-block {
    min-height: 80px;
    padding-top: 15px;
  }
  .b-search--header-block {
    min-width: 388px;
    margin-left: auto;
    margin-right: 60px;
  }
  .b-input--subscribe {
    width: calc(100% - 155px);
    width: -moz-calc(100% - 155px);
    width: -o-calc(100% - 155px);
    width: -webkit-calc(100% - 155px);
  }
  .b-account--header-block {
    padding-left: 10px;
    width: 145px;
  }
  .b-account__title {
    text-transform: uppercase;
  }
  .b-account__enter {
    padding-right: 12px;
  }
  .b-account__cart {
    width: 59px;
  }
  .b-main-nav {
    font-size: 13px;
    min-height: 55px;
  }
  .b-main-nav__list {
    padding-top: 15px;
  }
  .b-main-nav__item:first-of-type {
    margin-left: -15px;
  }
  .b-main-nav__link {
    padding: 5px 10px;
  }
  .slick-dots {
    right: 20px;
    width: 100px;
  }
  .slick-dots li {
    width: 20px;
    height: 20px;
    padding-left: 10px;
  }
  .slick-dots button {
    width: 10px;
    height: 10px;
  }
  .b-slideshow .slick-prev {
    left: 20px;
  }
  .b-slideshow .slick-next {
    right: 20px;
  }
  .b-banner {
    min-height: 700px;
  }
  .b-product {
    min-height: 630px;
  }
  .b-product__item {
    margin-bottom: 25px;
  }
  .b-product__link span {
    font-size: 15px;
    padding-top: 15px;
    font-weight: bold;
  }
  .b-brand {
    min-height: 230px;
    padding-top: 25px;
  }
  .b-advertisement {
    min-height: 270px;
  }
  .b-recommended-product {
    min-height: 410px;
    padding-top: 25px;
  }
  .b-product-card {
    padding-top: 0;
    min-height: 270px;
  }
  .b-product-card__description {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
    line-height: 21px;
  }
  .b-product-card__price {
    font-size: 24px;
    line-height: 31px;
    font-weight: 900;
    margin-top: auto;
  }
  .b-product-card__price span {
    font-size: 11px;
    margin-left: 5px;
  }
  .b-product-card__img-container {
    height: 170px;
    margin-bottom: 10px;
  }
  .b-tabs__item {
    margin-right: 8px;
    padding-top: 13px;
  }
  .b-tabs__link {
    font-size: 13px;
    padding-bottom: 19px;
    padding-right: 10px;
    padding-left: 35px;
  }
  .b-tabs__link--active {
    border-bottom: 5px solid #ffdc00;
  }
  .b-article {
    min-height: 390px;
    padding-bottom: 15px;
  }
  .b-article--laptop {
    min-height: 445px;
  }
  .b-article__content {
    width: 50%;
    padding-right: 10px;
    padding-top: 25px;
  }
  .b-article__content-info {
    font-size: 15px;
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .b-article__link-how-choose {
    font-size: 13px;
    padding-left: 25px;
    margin-bottom: 8px;
  }
  .b-article__product-list {
    width: 450px;
    padding-top: 20px;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .b-article__product {
    width: 220px;
    min-height: 360px;
    padding: 0 20px;
    padding-top: 30px;
  }
  .b-article__product--bracelet-1 {
    margin-right: 10px;
  }
  .b-article__product--laptop-1 {
    margin-right: 10px;
  }
  .b-article__product-about-description {
    max-height: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
  }
  .b-article__product-about-price {
    font-size: 24px;
  }
  .b-article__product-about-price span {
    font-size: 11px;
  }
  .b-article__product-about-prev-price {
    font-size: 11px;
    line-height: 11px;
  }
  .b-article__product-about-delivery {
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 10px;
  }
  .b-article__product-about-rating {
    font-size: 13px;
  }
  .b-advice {
    min-height: 400px;
  }
  .b-advice__panel {
    min-height: 55px;
  }
  .b-recently-viewed {
    min-height: 250px;
    padding-top: 35px;
  }
  .b-recently-viewed__link {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    min-height: 120px;
  }
  .b-recently-viewed__container {
    margin-bottom: auto;
    height: 95px;
    -webkit-flex-grow: 2;
       -moz-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    padding: 0 10px;
    padding-top: 10px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .b-recently-viewed__name {
    font-size: 13px;
    line-height: 16px;
    color: #666666;
    padding-top: 5px;
    max-height: 35px;
    overflow: hidden;
  }
  .b-recently-viewed__price {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .b-recently-viewed__price span {
    font-size: 11px;
    margin-left: 5px;
  }
  .b-subscribe__pers-recom {
    font-size: 15px;
    line-height: 20px;
    padding-top: 5px;
    padding-right: 30px;
  }
  .b-subscribe__form {
    width: 70%;
  }
  .b-footer-page {
    min-height: 380px;
  }
  .b-footer-page__container {
    padding-bottom: 30px;
  }
  .b-footer-page__column {
    max-width: 250px;
  }
  .b-footer-page__column--contacts {
    width: 245px;
  }
  .b-footer-page__column-link {
    line-height: 23px;
  }
  .b-footer-page__phone {
    font-size: 15px;
    line-height: 22px;
    font-weight: bold;
  }
  .b-footer-page__column-p {
    padding-top: 5px;
  }
  .b-footer-page__column-p span {
    line-height: 19px;
  }
  .b-social-links {
    width: 205px;
    margin-top: 10px;
  }
  .b-social-links__container {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  .b-copyright {
    height: 70px;
    padding-top: 15px;
  }
  .b-copyright__author {
    margin-right: 10px;
  }
  .b-copyright__author img {
    margin-right: 10px;
  }
  .b-copyright__author span {
    margin-right: 5px;
  }
}
@media (max-width: 960px) {
  .slick-prev,
  .slick-next {
    display: none;
  }
  .b-title--h2 {
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 25px;
    line-height: 45px;
  }
  .b-title--h2-brand {
    padding: 0;
  }
  .b-title--h2-product {
    padding: 0;
  }
  .b-title--h2-recently-viewed {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
  }
  .b-title--h2-subscribe {
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 25px;
    font-size: 20px;
    line-height: 21px;
  }
  .b-title--knowledge {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 30px;
  }
  .b-title--h3 {
    line-height: 21px;
    padding-top: 20px;
    padding-bottom: 14px;
  }
  .b-title--trigger {
    position: relative;
    -o-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .b-title--trigger:hover {
    color: #f28284;
  }
  .b-title--trigger::after {
    display: block;
    content: "";
    position: absolute;
    width: 13px;
    height: 25px;
    background: url("../img/spritesheet.png") no-repeat;
    background-position: -833px -10px;
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
    right: 6px;
    top: 30%;
    -o-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .b-title--article {
    padding: 0;
    font-size: 25px;
    line-height: 45px;
  }
  .b-title--hidden {
    display: block;
    width: 100%;
    border-bottom: 1px solid #dddddd;
  }
  .b-button {
    font-size: 13px;
    font-weight: bold;
  }
  .b-button--brand-link {
    right: 0;
  }
  .b-button--advice-link {
    position: absolute;
    top: 45px;
    right: 20px;
    height: 35px;
    padding-top: 6px;
  }
  .b-button--subscribe {
    width: 180px;
    padding-top: 4px;
    font-size: 15px;
  }
  .b-button--search-header {
    position: static;
    height: 35px;
    background-position: -9px 0;
  }
  .b-carousel__items--brand {
    padding-top: 60px;
  }
  .b-img-container--article {
    width: 160px;
    height: 130px;
    margin-bottom: 5px;
  }
  .b-img-container--recently-viewed {
    width: 100%;
    height: 55px;
    margin-left: 0;
    margin: 0 auto;
    margin-top: 20px;
  }
  .b-link--article-hit {
    left: 10px;
  }
  .b-link--article-action {
    left: 10px;
  }
  .b-accordeon {
    width: 100%;
  }
  .b-accordeon__list {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
    margin-right: 0;
  }
  .b-accordeon__trigger {
    display: block;
  }
  .b-accordeon__inner {
    display: none;
  }
  .b-accordeon__item {
    width: 100%;
  }
  .b-accordeon__item--active .b-title--trigger::after {
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .b-header-page {
    min-height: 270px;
  }
  .b-top-panel {
    height: 0;
    min-height: 0;
    padding: 0;
  }
  .b-top-panel__phone {
    display: none;
  }
  .b-select-sity {
    display: none;
  }
  .b-user-nav {
    width: auto;
    position: absolute;
    top: 55px;
    left: 0;
    margin: 0;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0;
    padding-bottom: 0;
    border-right: 1px solid #dddddd;
    -webkit-transform: scaleY(0);
       -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
         -o-transform: scaleY(0);
            transform: scaleY(0);
    -o-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    transition: 0.5s ease;
    -webkit-transform-origin: 50% 0;
       -moz-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
         -o-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  .b-user-nav--show {
    -webkit-transform: scaleY(1);
       -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
         -o-transform: scaleY(1);
            transform: scaleY(1);
  }
  .b-user-nav__item {
    margin: 0;
    padding: 7px 20px;
    border-bottom: 1px solid #dddddd;
  }
  .b-user-nav__item:hover {
    background-color: #fff;
  }
  .b-user-nav__item--active {
    -webkit-order: -1;
       -moz-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    border-top: 1px solid #dddddd;
  }
  .b-user-nav__item--active:hover {
    background-color: rgba(255, 255, 255, 0);
  }
  .b-user-nav__item--catalog {
    display: block;
    position: relative;
  }
  .b-user-nav__item--catalog:hover .b-submenu {
    display: block;
  }
  .b-header-block {
    min-height: 55px;
    height: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .b-header-block__button-menu {
    display: block;
  }
  .b-header-block__logo img {
    width: auto;
    height: 100%;
  }
  .b-search--header-block {
    min-width: 50px;
    width: 50px;
    height: 35px;
    margin-left: auto;
    margin-right: 0;
  }
  .b-input--search-header {
    display: none;
  }
  .b-input--subscribe {
    width: calc(100% - 190px);
    width: -moz-calc(100% - 190px);
    width: -o-calc(100% - 190px);
    width: -webkit-calc(100% - 190px);
    font-size: 15px;
  }
  .b-account--header-block {
    width: 30px;
    padding-left: 0;
  }
  .b-account__enter {
    display: none;
  }
  .b-account__cart {
    width: 30px;
    border: none;
    opacity: 0.7;
    background-position: -73px -3px;
    background-size: auto 100%;
  }
  .b-account__cart:hover {
    opacity: 0.5;
  }
  .b-account__cart:active {
    opacity: 1;
  }
  .b-main-nav {
    display: none;
  }
  .b-slideshow {
    padding-bottom: 20px;
  }
  .slick-dots {
    right: -moz-calc(50% - 25px);
    right: calc(50% - 25px);
    right: -moz-calc(50% - 30px);
    right: calc(50% - 30px);
    right: -webkit-calc(50% - 25px);
    width: 50px;
    bottom: -4px;
  }
  .slick-dots li {
    width: 10px;
    height: 10px;
    padding-left: 4px;
  }
  .slick-dots button {
    width: 6px;
    height: 6px;
  }
  .b-banner {
    min-height: 700px;
  }
  .b-banner__item--big {
    width: 100%;
  }
  .b-banner__item--small {
    width: -moz-calc(50% - 10px);
    width: calc(50% - 10px);
    width: -webkit-calc(50% - 10px);
  }
  .b-features {
    min-height: 155px;
  }
  .b-features__list {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -5px;
  }
  .b-features__item {
    height: 100px;
    width: 50%;
    padding-right: 20px;
    padding-left: 5px;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .b-features__item img {
    margin-right: 20px;
  }
  .b-product__item {
    width: calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -webkit-calc(50% - 10px);
  }
  .b-product__link span {
    font-size: 20px;
  }
  .b-advertisement {
    min-height: 180px;
  }
  .b-advertisement--desktop {
    display: none;
  }
  .b-advertisement--tablet {
    display: block;
  }
  .b-recommended-product {
    min-height: 410px;
    padding-top: 25px;
  }
  .b-product-card {
    padding: 0 5px;
  }
  .b-product-card__description {
    max-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .b-product-card__price {
    font-size: 20px;
  }
  .b-product-card__price span {
    font-size: 11px;
  }
  .b-product-card__img-container {
    height: 160px;
  }
  .b-product-card img {
    height: 90%;
  }
  .b-advice {
    min-height: 400px;
    position: relative;
  }
  .b-advice__panel {
    min-height: 55px;
    width: 920px;
  }
  .b-tabs__item {
    margin-right: 27px;
  }
  .b-tabs__link {
    font-size: 15px;
  }
  .b-article {
    padding-bottom: 30px;
  }
  .b-article__container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .b-article__content {
    width: 100%;
    padding-right: 10px;
    padding-top: 20px;
  }
  .b-article__content-info {
    font-size: 15px;
    padding-top: 15px;
    padding-right: 15px;
  }
  .b-article__product-list {
    width: 370px;
  }
  .b-article__product {
    width: 180px;
    min-height: 330px;
    padding: 0 10px;
    padding-top: 30px;
  }
  .b-article__product-about-description {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 13px;
  }
  .b-article__product-about-price {
    font-size: 21px;
    margin-bottom: 10px;
  }
  .b-recently-viewed {
    min-height: 330px;
  }
  .b-recently-viewed__link {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    min-height: 190px;
  }
  .b-recently-viewed__container {
    margin-bottom: auto;
    height: 95px;
    -webkit-flex-grow: 2;
       -moz-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    padding: 0 10px;
    padding-top: 10px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  }
  .b-recently-viewed__name {
    font-size: 11px;
  }
  .b-subscribe {
    min-height: 80px;
    border-top: 1px solid #eeeeee;
  }
  .b-subscribe__block {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .b-subscribe__pers-recom {
    width: auto;
    padding-bottom: 15px;
  }
  .b-subscribe__form {
    width: 100%;
  }
  .b-footer-page {
    padding-bottom: 30px;
  }
  .b-footer-page__container {
    padding-bottom: 5px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .b-footer-page__column {
    width: 100%;
    max-width: 100%;
    padding: 0;
    border-bottom: 1px solid #dddddd;
  }
  .b-footer-page__column--contacts {
    border: none;
  }
  .b-footer-page__column-list {
    padding-bottom: 20px;
  }
  .b-footer-page__column-link {
    line-height: 30px;
  }
  .b-footer-page__phone {
    line-height: 35px;
    display: block;
    width: 180px;
    height: 40px;
    padding-top: 4px;
    margin-bottom: 7px;
    text-align: center;
    background-color: #ffdc00;
  }
  .b-footer-page__phone:hover {
    color: #eeeeee;
  }
  .b-footer-page__column-p {
    display: inline-block;
    width: 180px;
    vertical-align: top;
  }
  .b-footer-page__column-p:first-of-type {
    margin-right: 7px;
  }
  .b-footer-page__column-p span {
    font-size: 11px;
    line-height: 13px;
  }
  .b-social-links {
    width: 100%;
    min-height: 45px;
    margin-top: 15px;
  }
  .b-copyright {
    height: 80px;
    min-height: 80px;
    padding-top: 15px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .b-copyright__technosila {
    width: 100%;
    margin-bottom: 20px;
  }
  .b-copyright__author {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .b-wrapper {
    padding: 0 10px;
  }
  .b-wrapper--list {
    padding: 0 5px;
  }
  .b-title--h2 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 25px;
  }
  .b-title--h2-brand {
    padding-left: 0;
  }
  .b-title--h2-product {
    padding-left: 10px;
  }
  .b-title--knowledge {
    padding-top: 40px;
    padding-bottom: 80px;
    font-size: 25px;
  }
  .b-button--brand-link {
    width: 100%;
    right: 0;
    bottom: 0;
    top: auto;
  }
  .b-button--advice-link {
    width: -moz-calc(100% - 20px);
    width: calc(100% - 20px);
    top: 90px;
    right: 10px;
  }
  .b-button--article-link-read-more {
    display: block;
  }
  .b-button--article-link-all-product {
    display: block;
    margin-left: 0;
    margin-top: 10px;
  }
  .b-button--subscribe {
    width: 70px;
    font-size: 0;
    background-image: url("../img/icon-enter.png");
    background-repeat: no-repeat;
    background-position: 20px 15px;
  }
  .b-input--subscribe {
    width: calc(100% - 80px);
    width: -moz-calc(100% - 80px);
    width: -o-calc(100% - 80px);
    width: -webkit-calc(100% - 80px);
  }
  .b-carousel__items--brand {
    padding-bottom: 60px;
  }
  .b-header-page {
    min-height: 180px;
  }
  .b-user-nav {
    width: 100%;
    background-color: #ffffff;
  }
  .b-user-nav__item:hover {
    background-color: #eeeeee;
  }
  .b-submenu {
    top: 100%;
    left: 0;
  }
  .b-header-block__button-menu {
    width: 25px;
  }
  .b-header-block__logo {
    width: 160px;
    max-height: 35px;
  }
  .b-header-block__logo img {
    max-width: 100%;
    height: auto;
  }
  .b-search--header-block {
    min-width: 30px;
    width: 30px;
    margin-right: 10px;
  }
  .b-banner__item {
    margin: 0;
  }
  .b-banner__item--big {
    width: 100%;
  }
  .b-banner__item--small {
    width: 100%;
  }
  .b-features__item {
    width: 100%;
  }
  .b-product__link span {
    font-size: 15px;
    line-height: 21px;
  }
  .b-brand {
    min-height: 230px;
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .b-advertisement {
    min-height: 80px;
  }
  .b-advertisement--tablet {
    display: none;
  }
  .b-advertisement--mobile {
    display: block;
  }
  .b-recommended-product {
    min-height: 275px;
  }
  .b-product-card {
    padding: 0 5px;
    min-height: 200px;
    border: 1px solid #eeeeee;
  }
  .b-product-card__description {
    line-height: 18px;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .b-product-card__price {
    font-size: 18px;
    line-height: 24px;
  }
  .b-product-card__price span {
    font-size: 11px;
  }
  .b-product-card__img-container {
    height: 100px;
  }
  .b-product-card img {
    height: 90%;
  }
  .b-recently-viewed__name {
    font-size: 13px;
  }
  .b-subscribe__pers-recom {
    font-size: 13px;
    padding-right: 15px;
  }
  .b-footer-page__phone {
    width: 100%;
  }
  .b-footer-page__column-p {
    width: -moz-calc(50% - 6px);
    width: calc(50% - 6px);
    width: -webkit-calc(50% - 6px);
    min-width: 136px;
  }
  .b-social-links {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .b-social-links__container {
    margin-right: 0;
  }
}
