.b-account {

    &--header-block {
        padding-left: 10px;
        width: 145px;        
    }

    &__title {
        text-transform: uppercase;        
    }

    &__enter {        
        padding-right: 12px;
    }


    &__cart {
        width: 59px;        
    }
}