.b-accordeon {
    width: 100%;

    &--footer {
        width: 75%; 
    }
    

    &__list {
        .flex-type-1();
        //justify-content: flex-start;
        width: auto;
        //margin-right: 40px;

        &--footer {
            width: 100%;
        }

    }

    &__item {
        width: 100%;
    }

    
}