.b-account {

    &--header-block {
        width: 30px;   
        padding-left: 0;     
    }    

    &__enter {   
        display: none;
    }


    &__cart {
        width: 30px; 
        border: none;   
        opacity: 0.7; 
        background-position: -73px -3px;
        background-size: auto 100%;

        &:hover {
            opacity: 0.5;
        }  

        &:active {
            opacity: 1;
        }
    }
}