.b-accordeon {
    width: 100%;

    &__list {
        .flex-type-1();
        flex-wrap: wrap;
        width: 100%;
        margin-right: 0;

    }

    &__trigger {
        display: block;
    }
    
    &__inner {
        display: none;
    }

    &__item {
        width: 100%;

        &--active .b-title--trigger::after {
            transform: rotate(90deg);            
        }
    }

    
}