.b-account {

    &--header-block {
        //padding-left: 40px;
        box-sizing: border-box;
        width: 145px;
        line-height: 17px;
    }

    &__title {
        font-weight: bold;
        color: @color-03;
    }

    &__enter {
        display: inline-block;
        //outline: 1px solid blue;
        vertical-align: top;
        text-align: right;
        padding-right: 20px;
        padding-top: 7px;
    }

    &__link {

        color: @color-06;

        &:hover {
            color: @color-1;
        }

        &:active {
            color: @color-09;
        }
    }

    &__cart {
        display: inline-block;
        width: 65px;
        height: 45px;
        border-left: 1px solid @color-01;
        background: url("../img/spritesheet.png") no-repeat;
        background-position: -83px -10px;
        //outline: 1px solid blue;
        font-size: 0;
        vertical-align: top;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 1;
        }
    }
}