.b-advertisement {
    width: auto;
    min-height: 310px;
    padding-top: 0;
    padding-bottom: 20px;

    img {
        width: 100%;

        &:hover {
            opacity: 0.7;
        }
    }

    &--tablet {
        display: none;
    }

    &--mobile {
        display: none;
    }

}