.b-article {
    min-height: 390px;
    padding-bottom: 15px;
    
//МОДИФИКАТОРЫ

    &--bracelet {
        
    }

    &--laptop {
        min-height: 445px;
    }

//ЭЛЕМЕНТЫ

    &__content {
        width: 50%;
        padding-right: 10px;
        padding-top: 25px;
    }

    &__content-info {
        font-size: 15px;
        padding-top: 25px;
        padding-bottom: 20px;
    }

    &__link-how-choose {
        font-size: 13px;
        padding-left: 25px;
        margin-bottom: 8px;    
    }

    &__product-list {
        width: 450px;
        padding-top: 20px;
        .flex-type-1();
    }

    &__product {
        width: 220px;
        min-height: 360px;
        padding: 0 20px;
        padding-top: 30px;

        &--bracelet-1 {
            margin-right: 10px;
        }

        &--laptop-1 {
            margin-right: 10px;
        }
    }

    &__product-about-description {
        max-height: 45px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 13px;

    }

    &__product-about-price {
        font-size: 24px;

        
        span {
            font-size: 11px;
        }
    }

    &__product-about-prev-price {
        font-size: 11px;
        line-height: 11px;
    }

    &__product-about-delivery {
        font-size: 11px;
        line-height: 15px;
        margin-bottom: 10px;
    }

    &__product-about-rating {
        font-size: 13px;
    }


}