.b-article {
    width: auto;
    min-height: 545px;
    box-sizing: border-box;
    padding-bottom: 35px;

//МОДИФИКАТОРЫ

    &--bracelet {
        background: url("../img/background-bracelet.jpg") no-repeat;
        background-size: 100% 100%;
        color: @color-f;
    }

    &--laptop {
        min-height: 550px;
        background-color: @color-08;
        border-bottom: 1px solid @color-02;
        //color: @color-016;
    }

//ЭЛЕМЕНТЫ

    &__container {
        .flex-type-1();
    }

    &__content {
        width: 38%;
        padding-right: 20px;
        padding-top: 35px;
    }

    &__content-info {
        font-size: 15px;
        padding-bottom: 10px;
    }

    &__link-how-choose {
        display: block;
        padding-left: 25px;
        margin-bottom: 20px;
        position: relative;
        width: 130px;
        opacity: 0.5;

        &:hover {
                opacity: 1;
            }

        &:active {
                opacity: 0.5;
            }

        &--bracelet {

            &::before {
                .before(20px, 20px);
                top: 1px;
                left: 0;
                background: url("../img/spritesheet.png") no-repeat;
                background-position: -247px -10px;
            }
        }

        &--laptop {

            &::before {
                .before(20px, 20px);
                top: 1px;
                left: 0;
                background: url("../img/spritesheet.png") no-repeat;
                background-position: -286px -10px;
            }
        }
    }

    &__product-list {
        width: 590px;
        padding-top: 40px;
        .flex-type-1();
    }

    &__product {
        width: 290px;
        min-height: 470px;
        padding: 0 20px;
        padding-top: 60px;
        box-sizing: border-box;
        background-color: @color-f;
        border: 1px solid @color-02;
        color: @color-016;
        cursor: pointer;
        position: relative;

        img {
            display: block;
        }

        &--bracelet-1 {
            margin-right: 10px;
        }

        &--laptop-1 {
            margin-right: 10px;
        }
    }

    &__product-about-description {
        max-height: 45px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        margin-top: 20px;
        margin-bottom: 35px;
        font-size: 15px;
        font-weight: bold;
        color: @color-06;

    }

    &__product-about-price {
        display: inline-block;
        margin-bottom: 5px;
        font-size: 24px;
        font-weight: 900;

        &--red {
            color: @color-16;
        }

        span {
            font-size: 11px;
            text-transform: uppercase;

        }
    }

    &__product-about-prev-price {
        display: inline-block;
        font-size: 11px;
        line-height: 11px;
        font-weight: 900;
        margin-left: 5px;
    }

    &__product-about-delivery {
        display: block;
        margin-bottom: 10px;
        font-weight: 300;
    }

    &__product-about-rating {
        display: block;
        color: @color-09;
        padding-left: 77px;
        position: relative;

        &::before {
            .before(70px, 11px);
            //outline: 2px solid red;
            position: absolute;
            top: 4px;
            left: 0;
            background: url("../img/spritesheet.png") no-repeat;
            background-position: -457px -10px;
        }
    }
}