.b-article {
//     min-height: 390px;
    padding-bottom: 30px;
    
//МОДИФИКАТОРЫ

//     &--bracelet {
        
//     }

//     &--laptop {
//         min-height: 445px;
//     }

//ЭЛЕМЕНТЫ

    &__container {
        flex-wrap: wrap;
    }



    &__content {
        width: 100%;
        padding-right: 10px;
        padding-top: 20px;
    }

    &__content-info {
        font-size: 15px;
        padding-top: 15px;
        // padding-bottom: 20px;
        padding-right: 15px;
    }

//     &__link-how-choose {
//         font-size: 13px;
//         padding-left: 25px;
//         margin-bottom: 8px;    
//     }

    &__product-list {
        width: 370px;
        //padding-top: 20px;
        //.flex-type-1();
    }

    &__product {
        width: 180px;
        min-height: 330px;
        padding: 0 10px;
        padding-top: 30px;        
    }

    &__product-about-description {
        // max-height: 45px;
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 13px;

    }

    &__product-about-price {
        font-size: 21px;
        margin-bottom: 10px;

        
//         span {
//             font-size: 11px;
//         }
//     }

//     &__product-about-prev-price {
//         font-size: 11px;
//         line-height: 11px;
//     }

//     &__product-about-delivery {
//         font-size: 11px;
//         line-height: 15px;
//         margin-bottom: 10px;
//     }

//     &__product-about-rating {
//         font-size: 13px;
    }


}