.b-banner {
    // min-height: 700px;

    &__item {   

        margin: 0;     

        &--big {
            width: 100%;
        }

        &--small {
            width: 100%;
        }
    }
}