.b-banner {
    width: auto;
    min-height: 940px;
    padding-bottom: 30px;
    background-color: @color-f;
    box-sizing: border-box;

    &__list {
        .ul-0();
        font-size: 0;        
    }

    &__item {
        .li-0();
        display: inline-block;
        font-size: 13px;
        margin: 0 5px;
        height: 100%;
        transition: 0.3s ease;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 1;
        }

        &--big {
            width: calc(~"50% - 10px");
            width: -webkit-calc(~"50% - 10px");
        }

        &--small {
            width: calc(~"25% - 10px");
            width: -webkit-calc(~"25% - 10px");
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}