.b-banner {
    min-height: 700px;

    &__item {        

        &--big {
            width: 100%;
        }

        &--small {
            width: calc(~"50% - 10px");
            width: -webkit-calc(~"50% - 10px");
        }
    }
}