.b-button {
    display: block;
    width: 100px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s ease;

    &--brand-link {
        width: 160px;
        height: 36px;
        padding-top: 7px;
        box-sizing: border-box;
        background-color: @color-f;
        border: 1px solid @color-07;
        font-size: 13px;
        transition: 0.3s ease;
        position: absolute;
        right: 90px;
        top: 7px;
        z-index: 10;

        &:hover {
            background-color: @color-01;
        }

        &:active {
           background-color: @color-04;
        }

    }

    &--advice-link {
        width: 180px;
        height: 40px;
        background-color: @color-f;
        border: 1px solid @color-07;
        padding-top: 10px;
        transition: 0.7s ease;

        &:hover {
            background-color: @color-01;
        }

        &:active {
           background-color: @color-04;
        }
    }

    &--article-link-read-more {
        width: 165px;
        height: 40px;
        background-color: @color-41;
        padding-top: 10px;
        color: @color-016;
        display: inline-block;
        

        &:hover {
            background-color: desaturate(@color-41, 30%);
        }

        &:active {
            background-color: desaturate(@color-41, 50%);
        }
    }

    &--article-link-read-more-laptop {

        &:hover {
            background-color: desaturate(@color-41, 15%);
        }

        &:active {
            background-color: desaturate(@color-41, 30%);
        }         
    }

    &--article-link-all-product {
        display: inline-block;
        width: 135px;
        height: 40px;
        padding-top: 10px;
        border: 1px solid @color-07;
        margin-left: 6px;
        background-color: @color-f;
        transition: 0.3s ease;

        &:hover {
            background-color: @color-01;
        }

        &:active {
            background-color: @color-02;
        }
    }

    &--subscribe {
        width: 190px;
        height: 40px;
        background-color: @color-41;        
        border: 1px solid @color-41;
        padding-top: 4px;
        color: @color-016;
        transition: 0.3s ease;
        margin-left: 10px;

        &:hover {
            background-color: desaturate(@color-41, 15%);
        }

        &:active {
            background-color: desaturate(@color-41, 30%);
        } 

    }

    &--search-header {
        width: 25px;
        height: 25px;
        border: none;
        background: @color-f url('../img/spritesheet.png') no-repeat;
        background-position: -10px -10px;
        position: absolute;
        top: 10px;
        right: 10px;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.5;
        }
    }
   
}