.b-button {
    // font-size: 13px;

    &--brand-link {
        width: 100%;
        right: 0;
        bottom: 0;
        top: auto;
    }

    &--advice-link {
        width: -webkit-calc(~"100% - 20px");
        width: calc(~"100% - 20px");
        top: 90px;
        right: 10px;

    }   

    &--article-link-read-more {
        display: block;
        // width: 145px;
        // height: 35px;
        // padding-top: 8px;
    }

    &--article-link-all-product {
        // width: 125px;
        // height: 35px;
        // padding-top: 8px;
        display: block;
        margin-left: 0;
        margin-top: 10px;
    }
   
   &--subscribe {
        width: 70px;
        font-size: 0;
        background-image: url("../img/icon-enter.png");
        background-repeat: no-repeat;
        background-position: 20px 15px;
        // padding-top: 3px;
    }
}