.b-button {
    font-size: 13px;
    font-weight: bold;

    &--brand-link {
        right: 0;
    }

    &--advice-link {
        position: absolute;
        top: 45px;
        right: 20px;
        height: 35px;
        padding-top: 6px;
    }   

   //  &--article-link-read-more {
   //      width: 145px;
   //      height: 35px;
   //      padding-top: 8px;
   //  }

   //  &--article-link-all-product {
   //      width: 125px;
   //      height: 35px;
   //      padding-top: 8px;
   //  }
   
   &--subscribe {
        width: 180px;
        padding-top: 4px;
        font-size: 15px;       
    }

    &--search-header {
        position: static;
        height: 35px;
        background-position: -9px 0;
    }
}