.b-button {
    font-size: 13px;

    &--advice-link {
        width: 155px;
    }   

    &--article-link-read-more {
        width: 145px;
        height: 35px;
        padding-top: 8px;
    }

    &--article-link-all-product {
        width: 125px;
        height: 35px;
        padding-top: 8px;
    }
   
   &--subscribe {
        width: 145px;
        padding-top: 3px;
    }
}