.b-carousel  {
    width: auto;
    position: relative;

    &__title {
        .flex-type-1();
        //outline: 2px solid black;
        height: 100px;
        //margin-bottom: -37px;

        h2 {

        }

    }

    &--product {
       position: relative;
       //outline: 2px solid red;
    }

    &--brand {
       position: relative;


    }

    &__wrapper {
        //margin: 10px 30px;
        overflow: hidden;
        position: relative;
    }

    &__items {
       //width: 10000px;
        //position: relative;
        //margin-top: 10px;
        

        &--brand {
            //height: 210px;
            padding-top: 80px;  
            padding-bottom: 40px;        
        }

        &--product {
            padding-top: 60px;
        }

        &--recently-viewed {
            min-height: 120px;
            padding-top: 70px;  
            padding-bottom: 10px;
            //border: 2px solid red;
        }
    }

    &__block {
        width: 290px;
        //padding: 10px 10px 10px 0px;
        list-style: none;

        &--product {
            margin: 0 5px;
        }

        &--brand {
            border: 1px solid @color-02;
            margin: 0 5px;
            transition: 0.3s ease;


            &:hover {
                border-color: @color-07;
            }

            &:active {
                border-color: @color-09;
            }

        }

        &--recently-viewed {            
            
            border: 1px solid @color-02;
            margin: 0 5px;
            transition: 0.3s ease;

            &:hover {
                border-color: @color-07;
            }
        }

        img {
            display: block;
        }
    }
}