.b-carousel  {

    &__title {        
        
    }

    &__items {           

        &--brand {            
            padding-top: 60px;
        }

        &--recently-viewed {
            
        }
    }

    &__block {    

        

        &--recently-viewed {
                 
        }
        
    }  

}