.b-copyright {
    width: auto;
    height: 75px;
    .flex-type-1();
    align-items: flex-start;
    border-top: 1px solid @color-011;
    padding-top: 20px;
    box-sizing: border-box;
    color: @color-06;

    &__technosila {
        display: block;
    }

    &__author {
        margin-right: 85px;
        .flex-type-1();
        align-items: flex-start;
        justify-content: flex-start;

        img {
            display: block;
            margin-right: 10px;
        }

        span {
            margin-right: 10px;
        }
    }

    &__author-link {
        border-bottom: 1px solid @color-09;
        transition: 0.3s ease;

        &:hover {
            color: @color-12;
        }

        &:active {
            color: @color-09;
        }
    }
}