.b-copyright {
    height: 70px;
    padding-top: 15px;
    
    &__author {
        margin-right: 10px;

        img {
            margin-right: 10px;
        }

        span {
            margin-right: 5px;
        }
    }

    &__author-link {
       
    }
}