.b-copyright {
    height: 80px;
    min-height: 80px;
    padding-top: 15px;
    flex-wrap: wrap;

    &__technosila {
        width: 100%;
        margin-bottom: 20px;
    }
    
    &__author {
        width: 100%;
        // margin-right: 10px;

        // img {
        //     margin-right: 10px;
        // }

        // span {
        //     margin-right: 5px;
        // }
    }

    // &__author-link {
       
    // }
}