.b-features {
    width: auto;
    min-height: 155px;
    border-top: 1px solid @color-01;
    border-bottom: 1px solid @color-01;

    &__list {
        .ul-0();  
        .flex-type-2();
    }

    &__item {
        .li-0();  
        height: 155px;
        width: 24%;        
        //padding-left: 95px;
        box-sizing: border-box;
        line-height: @l-height-1;
        font-weight: bold;
        text-transform: uppercase;
        position: relative; 

        .flex-type-1();
        justify-content: flex-start;
        align-items: center;

        img {
            margin-right: 20px;
        }

        span {
            
        }
    }
}