.b-features {
    min-height: 155px;

    &__list { 
        .flex-type-2();
        flex-wrap: wrap;
        margin-left: -5px;
    }

    &__item {
        height: 100px;
        width: 50%;
        padding-right: 20px; 
        padding-left: 5px;    

        .flex-type-1();
        justify-content: flex-start;
        align-items: center;

        img {
            margin-right: 20px;
        }

        span {
            
        }
    }
}