.b-footer-page {
    width: auto;
    min-height: 380px;
    background-color: @color-010;

    &__container {
        .flex-type-1();
        padding-bottom: 30px;

    }

    &__column {
        //display: inline-block;
        //vertical-align: top;
        max-width: 250px;
        padding: 0 10px;
        //outline: 2px solid red;
        padding-right: 20px;

        &:first-of-type {
            padding-left: 0;
        }

    //МОДИФИКАТОРЫ
        &--services {
            //padding-right: 30px;
        }

        &--contacts {
            max-width: 290px;
            padding-right: 0;
            padding-right: 0;
        }
    }
    //------------

    &__column-list {
        .ul-0();
    }

    &__column-item {
        .li-0();
    }

    &__column-link {
        color: @color-06;
        line-height: 23px;
        transition: 0.3s ease;

        &:hover {
            color: @color-12;
        }

        &:active {
            color: @color-09;
        }
    }

    &__phone {
        font-size: 15px;
        line-height: 22px;
        font-weight: bold;
        display: block;

        &:hover {
            color: @color-12;
        }

        &:active {
            color: @color-09;
        }
    }

    &__column-p {

        padding-top: 5px;

        span {
            display: block;
            line-height: 19px;
        }

    }


}