.b-footer-page {
    // min-height: 380px;
    // padding-bottom: 30px;

    &__container {
        // .flex-type-1();
        // padding-bottom: 5px;
        // flex-wrap: wrap;

    }

    &__column {
        // width: 100%; 
        // max-width: 100%;       
        // padding: 0;
        // border-bottom: 1px solid @color-07;

    //МОДИФИКАТОРЫ
        // &--services {
        // }

        // &--contacts {
        //     // width: 100%;
        //     border: none;
        // }
    }
    //ЭЛЕМЕНТЫ 

    // &__column-list {
    //     // .ul-0();
    //     padding-bottom: 20px;
    // }
    

    // &__column-link {
    //     line-height: 30px;
    // }

    &__phone {
        // font-size: 15px;
        // line-height: 35px;
        // display: block;
        // font-weight: bold;
        width: 100%;                
        // height: 40px;
        // padding-top: 4px;        
        // margin-bottom: 7px;
        // text-align: center;
        // background-color: @color-41;
    }

    &__column-p {
        // display: inline-block;
        width: calc(~"50% - 6px");
        width: -webkit-calc(~"50% - 6px");
        min-width: 136px;
        // vertical-align: top;
        // padding-top: 5px;

        // span {
        //     font-size: 11px;
        //     line-height: 13px;
        // }

    }


}