.b-footer-page {
    min-height: 380px;

    &__container {
        padding-bottom: 30px;

    }

    &__column {
        max-width: 250px;

    //МОДИФИКАТОРЫ
        &--services {
        }

        &--contacts {
            width: 245px;
        }
    }
    //------------

    

    &__column-link {
        line-height: 23px;
    }

    &__phone {
        font-size: 15px;
        line-height: 22px;
        font-weight: bold;
    }

    &__column-p {

        padding-top: 5px;

        span {
            line-height: 19px;
        }

    }


}