.b-header-block {    
    // min-height: 55px;
    // height: 55px;
    // padding-top: 10px;
    // padding-bottom: 10px;

    &__button-menu {
        // display: block;
        //outline: 1px solid black;
        width: 25px;
    }

    &__logo {
        width: 160px;
        max-height: 35px;

        img {
            max-width: 100%;
            height: auto;
        }
        
    }
}