.b-header-block {    
    min-height: 55px;
    height: 55px;
    padding-top: 10px;
    padding-bottom: 10px;

    &__button-menu {
        display: block;
        //outline: 1px solid black;
    }

    &__logo {
        //outline: 2px solid blue;
        //max-height: 35px;

        img {
            width: auto;
            height: 100%;
        }
        
    }
}