.b-header-block {
    width: auto;
    min-height: 85px;
    padding-top: 20px;
    box-sizing: border-box;
    .flex-type-1();

    &__button-menu {
        display: none;
        width: 40px;
        max-height: 55px;
        background-color: #fff;
        border: none;
        outline: none;
        font-size: 0;
        position: relative;
        margin-right: 10px;

        &::before {
            .before(20px, 2px);
            top: 12px;
            left: 0;
            background-color: @color-09;
            transition: 0.3s ease;
            box-shadow: 0 4px 0 0 @color-09;
        }

        &::after {            
            .after(20px, 2px);
            top: 20px;
            left: 0;
            background-color: @color-09;
            transition: 0.3s ease;            
        }

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.5;
        }

        &--close {

            &::before {
                box-shadow: none;
                top: 16px;
                transform: rotate(45deg);
            }

            &::after {
                display: block;
                top: 16px;
                transform: rotate(-45deg);
            }


        }
    }

    //.outlines(@color-2);

    &__logo {
    }
}