.b-img-container {

    // img {
    //     width: auto;
    //     height: 100%;
    // }


    &--article {
        width: 160px;
        height: 130px;
        margin-bottom: 5px;
    }

    // &--brand {
        
    // }

    &--recently-viewed {
        width: 100%;
        height: 55px;
        margin-left: 0;
        margin: 0 auto;
        margin-top: 20px;
    }
}