.b-img-container {
    .flex-type-1();
    margin: 0 auto;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;


    img {
        display: block;
    }

    &--article {
        width: 220px;
        height: 150px;
        background-color: @color-f;
        //outline: 2px solid red;
        margin-bottom: 50px;
    }

    &--brand {
        //outline: 2px solid red;
        margin-top: auto;

        img {

        }
    }

    &--recently-viewed {
        width: 100px;
        height: 70px;
        margin-left: 10px;
        //outline: 2px solid red;


    }
}