.b-img-container {

    img {
        width: auto;
        height: 100%;
    }


    &--article {
        width: 180px;
        height: 150px;
        margin-bottom: 20px;
    }

    &--brand {
        
    }

    &--recently-viewed {
        width: auto;
        height: 55px;
    }
}