.b-input {
    

    // &--search-header {
    //     display: none;
    // }

    &--subscribe {
        width: calc(~"100% - 80px");
        width: -moz-calc(~"100% - 80px");
        width: -o-calc(~"100% - 80px");
        width: -webkit-calc(~"100% - 80px");
        // font-size: 15px;
    }
}