.b-input {
    

    &--search-header {
        display: none;
    }

    &--subscribe {
        width: calc(~"100% - 190px");
        width: -moz-calc(~"100% - 190px");
        width: -o-calc(~"100% - 190px");
        width: -webkit-calc(~"100% - 190px");
        font-size: 15px;
    }
}