.b-input {
    .size(390px, 40px);
    border: 1px solid @color-01;
    box-sizing: border-box;
    padding-left: 12px;

    &--search-header {
        width: 100%;
        //outline: 2px solid blue;
    }

    &--subscribe {
        width: calc(~"100% - 200px");
        width: -moz-calc(~"100% - 200px");
        width: -o-calc(~"100% - 200px");
        width: -webkit-calc(~"100% - 200px");
        background-color: @color-f;        
    }
}