.b-input {
    

    &--search-header {
    }

    &--subscribe {
        width: calc(~"100% - 155px");
        width: -moz-calc(~"100% - 155px");
        width: -o-calc(~"100% - 155px");
        width: -webkit-calc(~"100% - 155px");
    }
}