.b-link {
    display: block;
    width: 62px;
    height: 18px;
    font-size: 11px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    padding-left: 6px;

    &--hit {
        width: 36px;
        background-color: @color-38;
        color: @color-f;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 1;
        }
    }

    &--article-hit {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    &--action {
        width: 62px;
        background-color: @color-16;
        color: @color-f;
        position: relative;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 1;
        }

        &::after {
            .after(6px, 10px);
            background: url("../img/spritesheet.png") no-repeat;
            background-position: -807px -9px;
            right: 6px;
            top: 5px;
        }
    }

    &--article-action {
        position: absolute;
        top: 40px;
        left: 20px;


    }
}