.b-link {
    width: 62px;
    height: 18px;
    font-size: 11px;

    &--hit {
        width: 36px;        
    }

    &--article-hit {
        top: 10px;
        left: 20px;
    }

    &--action {
        width: 62px;        
    }

    &--article-action {
        top: 30px;
        left: 20px;


    }
}