.b-main-nav {
    min-height: 60px;
    background-color: @color-41;
    color: @color-016;
    font-size: @size-3;
    font-weight: bold;
    line-height: @l-height-02;
    text-transform: uppercase;


    .ul-0();

    &__list {
        .flex-type-2();
        .li-0();
        .a();
        padding-top: 20px;
        //padding-left: 10px;
    }

    &__item {

        &:first-of-type {
            //padding-left: 0;
            margin-left: -15px;
        }
    }

    &__link {
        padding: 5px 20px;

        &:hover {
            color: @color-02;
        }

        &:active {
            color: @color-09;
        }
    }


}