.b-main-nav {    
    font-size: 13px;
    min-height: 55px;

    &__list {        
        padding-top: 15px;        
    }

    &__item {

        &:first-of-type {
            //padding-left: 0;
            margin-left: -15px;
        }
    }

    &__link {
        padding: 5px 10px;
    }


}