.b-product-card {
    //outline: 2px solid red;
    //width: 290px;
    min-height: 375px;
    padding: 0 20px;
    padding-top: 20px;
    box-sizing: border-box;
    .flex-type-4();

    &__description,
    &__price {
        display: block;
    }

    &__description {
        padding-top: 20px;
        padding-bottom: 5px;
        font-size: 15px;
        line-height: 21px;
        font-weight: bold;
        color: @color-06;
        transition: 0.3s ease;

        &:hover {
            color: @color-0;
        }

        &:active {
            color: @color-06;
        }
    }

    &__price {
        font-size: 24px;
        line-height: 31px;
        font-weight: 900;
        margin-top: auto;

        span {
            font-size: 11px;
            margin-left: 5px;
        }
    }

    img {
        display: block;
        height: 100%;
        width: auto;
        transition: 0.3s ease;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 1;
        }

    }

    &__img-container {
        .flex-type-1();
        width: auto;
        height: 200px;
        justify-content: center;
        align-items: center;
        background-color: @color-f;
        //outline: 2px solid red;
        margin-bottom: 25px;
    }


}