.b-product {
    width: auto;
    min-height: 845px;

    border-bottom: 1px solid @color-01;

    &__list {
        .ul-0();
        font-size: 0;
    }

    &__item {
        .li-0();
        display: inline-block;
        vertical-align: top;
        font-size: 20px;
        margin: 0 5px;
        width: calc(~"25% - 10px");
        width: -moz-calc(~"25% - 10px");
        width: -webkit-calc(~"25% - 10px");
        margin-bottom: 40px;
        transition: 0.3s ease;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 1;
        }
        
    }

    &__link {

        img {
            display: block;
            width: 100%;
            height: 100%;
        }

        span {
            display: block;
            padding-top: 20px;
            text-align: center;
            font-weight: bold;
        }

    }
}