.b-product-card { 
    padding: 0 5px;
   

    &__description {
        // padding-top: 5px;
        // padding-bottom: 5px;
        // font-size: 13px;
        // line-height: 21px; 
        max-height: 70px;
        overflow: hidden;
        text-overflow: ellipsis;       
    }

    &__price {
        font-size: 20px;
        // line-height: 31px;
        // font-weight: 900;
        // margin-top: auto;

        span {
            font-size: 11px;
            //margin-left: 5px;
        }
    }

    &__img-container {      
        height: 160px;        
        //outline: 2px solid red;
        //margin-bottom: 10px;
    }

    img {
        height: 90%;
    }

}