.b-product-card { 
    padding: 0 5px;
    min-height: 200px;
    border: 1px solid @color-01;
   

    &__description {
        // padding-top: 5px;
        // padding-bottom: 5px;
        // font-size: 13px;
        line-height: 18px; 
        max-height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;       
    }

    &__price {
        font-size: 18px;
        line-height: 24px;
        // font-weight: 900;
        // margin-top: auto;

        span {
            font-size: 11px;
            //margin-left: 5px;
        }
    }

    &__img-container {      
        height: 100px;        
        //outline: 2px solid red;
        //margin-bottom: 10px;
    }

    img {
        height: 90%;
    }

}