.b-product {
    //min-height: 630px;
    
    &__item {  
        width: calc(~"50% - 10px");
        width: -moz-calc(~"50% - 10px");
        width: -webkit-calc(~"50% - 10px");      
        //margin-bottom: 25px;    
    }   

    &__link {

        span {    
            font-size: 20px;       
            //padding-top: 15px;
        }
    }
}