.b-product-card {    
    padding-top: 0;
    min-height: 270px;
   

    &__description {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 13px;
        line-height: 21px;        
    }

    &__price {
        font-size: 24px;
        line-height: 31px;
        font-weight: 900;
        margin-top: auto;

        span {
            font-size: 11px;
            margin-left: 5px;
        }
    }

    &__img-container {      
        height: 170px;        
        //outline: 2px solid red;
        margin-bottom: 10px;
    }


}