.b-product {
    // min-height: 630px;

    
    &__item {        
        // margin-bottom: 25px;    
    }   

    &__link {

        span {    
            font-size: 15px;
            line-height: 21px;
            // padding-top: 15px;
            // font-weight: bold;
        }
    }
}