.b-product {
    min-height: 630px;

    
    &__item {        
        margin-bottom: 25px;    
    }   

    &__link {

        span {    
            font-size: 15px;       
            padding-top: 15px;
            font-weight: bold;
        }
    }
}