.b-recently-viewed {
    min-height: 250px;
    padding-top: 45px;

    &__link {
        .flex-type-1();
        min-height: 120px;
        align-items: center;
        justify-content: flex-start;
    }



    &__container {
        margin-bottom: auto;
        height: 95px;
        flex-grow: 2;
        padding: 0 10px;
        padding-top: 10px;
        box-sizing: border-box;
        .flex-type-4();
        justify-content: center;
    }

    &__name {
        display: block;
        font-size: 13px;
        line-height: 16px;
        color: @color-06;
        font-weight: bold;
        margin-top: auto;
        padding-top: 5px;
    }

    &__price {
        display: block;
        font-size: 18px;
        line-height: 24px;
        font-weight: 900;
        margin-top: auto;
        margin-bottom: 5px;

        span {
            font-size: 11px;
            margin-left: 5px;
        }

        &--red {
            color: @color-16;
        }
    }

}