.b-recently-viewed {
    // min-height: 330px;
    //padding-top: 35px;

    &__link {
        // .flex-type-1();
        // flex-wrap: wrap;
        // min-height: 190px;
    }



    &__container {
        // margin-bottom: auto;
        // height: 95px;
        // flex-grow: 2;
        // padding: 0 10px;
        // padding-top: 10px;
        // box-sizing: border-box;
        // .flex-type-4();
        // justify-content: center;
    }

    &__name {
        font-size: 13px;
        // line-height: 16px;
        // color: @color-06;
        // padding-top: 5px;
        // max-height: 35px;
        // overflow: hidden;
    }

    // &__price {
    //     font-size: 18px;
    //     line-height: 24px;
    //     margin-bottom: 5px;

    //     span {
    //         font-size: 11px;
    //         margin-left: 5px;
    //     }
       
    // }

}