.b-select-sity {

    &__link {        
        border-bottom: 1px dotted @color-06;

        &:hover {
            color: @color-0;
        }

        &:active {
            color: @color-09;
        }
    }


}