.b-search {

    &--header-block {
        position: relative;
        min-width: 678px;
        width: 43%;
        box-sizing: border-box;
        margin-left: 35px;
        //outline: 2px solid red;
    }

}