.b-slideshow {
   
}

.slick-dots {    
    right: 20px;
    width: 100px;

    li {
        width: 20px;
        height: 20px;
        padding-left: 10px;
    }

    button { 
        width: 10px;
        height: 10px;    
    }
}

.b-slideshow .slick-prev {
    left: 20px;
}

.b-slideshow .slick-next {
    right: 20px;
}
