.b-slideshow {
   padding-bottom: 20px;
}

.slick-dots {    
    right: calc(~"50% - 25px");
    right: calc(~"50% - 30px");
    right: calc(~"50% - 30px");
    right: -webkit-calc(~"50% - 25px");
    width: 50px;
    bottom: -4px;

    li {
        width: 10px;
        height: 10px;
        padding-left: 4px;
    }

    button { 
        width: 6px;
        height: 6px;  
          
    }
}
