.b-slideshow {
    max-width: auto;
    margin: 0 auto;
    position: relative;
    cursor: pointer;

    &__slide {
        //display: none;

        img {
            width: 100%;
        }
    }
}

.slick-dots {
    position: absolute;
    bottom: 15px;
    right: 45px;
    width: 100px;

    li {
        display: inline-block;
        width: 20px;
        height: 20px;
        padding-left: 10px;
        box-sizing: border-box;
    }

    button {
        background-color: rgba(0, 0, 0, 0.2);
        border: none;
        width: 10px;
        height: 10px;
        font-size: 0;
        border-radius: 50%;
        outline: none;
        transition: 0.3s ease;
        padding: 0;
    }
}

.slick-active button {
    background-color: rgba(0, 0, 0, 0.6);
}