.b-social-links {
	// width: 100%;
 //    min-height: 45px;
	// margin-top: 15px;
	justify-content: space-around;
	
	&__container {	
		// width: 35px;
		// height: 35px;
		margin-right: 0;
		// margin-bottom: 10px;	
	}	

}