.b-social-links {
	display: block;
	width: 270px;
	min-height: 80px;
	.ul-0();
	.flex-type-2();
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
	//outline: 2px solid red;
	
	&__container {		
		.li-0();
		display: block;
		width: 35px;
		height: 35px;
		margin-right: 15px;
		margin-bottom: 10px;
		//border: 1px solid blue;
		border-radius: 50%;
		background-color: @color-012;	
		position: relative;	
		transition: 0.5s ease;

		&:last-of-type {
			margin-right: 0;
		}

		&:hover {
			background-color: @color-121;
		}

		&:active {
			background-color: @color-09;
		}

	}	

}