.b-social-link {
	display: block;
	position: absolute;
	top: 6px;
	left: 6px;	
	margin: 0 auto;
	font-size: 0;
	background: url("../img/spritesheet.png") no-repeat;
	width: 25px;
	height: 25px;
	//outline: 1px solid red;

	

	&--vk {		
		background-position: -547px -3px;
	}

	&--fb {
		background-position: -582px -8px;
	}

	&--ok {		
		background-position: -613px -8px;
	}

	&--in {		
		background-position: -647px -8px;
	}

	&--tw {		
		background-position: -686px -6px;
	}

	&--ytb {		
		background-position: -725px -10px;
	}

	&--goo {		
		background-position: -765px -6px;
	}
}