.b-submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;    

    li {
        list-style: none;
        margin: 0;
        padding: 7px 10px;
    }

    &--catalog {
        background-color: #fff;
        border: 1px solid @color-07;
        border-bottom: none;

        li {
            border-bottom: 1px solid @color-07;
            transition: 0.3s ease;

            &:hover {
                background-color: @color-01;                
            }          

            
        }

    }
}