.b-subscribe {   
    min-height: 80px;    
    border-top: 1px solid @color-01; 

    &__block {
        // .flex-type-1();
        flex-wrap: wrap;
    }

    &__pers-recom {
        width: auto;
        // font-size: 15px;
        // line-height: 20px;
        // padding-top: 5px;
        // padding-right: 30px;
        padding-bottom: 15px;
    }

    &__form {
        width: 100%;
    }
}