.b-subscribe {    

    &__pers-recom {
        font-size: 15px;
        line-height: 20px;
        padding-top: 5px;
        padding-right: 30px;
    }

    &__form {
        width: 70%;
    }
}