.b-subscribe {
    min-height: 160px;

    &__block {
        .flex-type-1();
        padding-bottom: 40px;
    }

    &__pers-recom {
        display: block;
        font-size: 15px;
        line-height: 20px;
        padding-top: 5px;
        padding-right: 30px;
        box-sizing: border-box;
    }

    &__form {
        width: 50%;
        .flex-type-1();
        align-items: flex-start;
    }
}