.b-tabs {
    .flex-type-2();
    justify-content: flex-start;
    .ul-0();
    width: auto;
    padding-right: 5px;
    overflow: hidden;

    &__item {
        .li-0();
        margin-right: 35px;
        padding-top: 13px;
        //border: 2px solid red;
        width: auto;
        //border: 2px solid red;
        position: relative;

        &::before {
            .before(27px, 27px);
            top: 9px;
            background: url("../img/spritesheet.png") no-repeat;
        }

        &:first-of-type::before {
            background-position: -154px -9px;
        }

        &:nth-of-type(2)::before {
            background-position: -200px -10px;
        }

        &:nth-of-type(3)::before {
            background-position: -325px -10px;
        }

        &:nth-of-type(4)::before {
            background-position: -367px -10px;
        }

        &:nth-of-type(5)::before {
            background-position: -412px -10px;
        }

    }

    &__link {
        font-size: 15px;
        text-transform: uppercase;
        padding-bottom: 28px;
        padding-right: 10px;
        padding-left: 35px;
        box-sizing: border-box;
        color: @color-09;
        transition: 0.3s ease;

        &:hover {
            color: @color-0;
            //font-weight: bold;
        }

        &--active {
            color: @color-0;
            border-bottom: 6px solid @color-41;
            //font-weight: bold;

        }
    }


}