.b-tabs {    

    &__item {
        margin-right: 27px;
        // padding-top: 13px;     

    }

    &__link {
        font-size: 15px;
        // padding-bottom: 19px;
        // padding-right: 10px;
        // padding-left: 35px; 

        // &--active {
        //     border-bottom: 5px solid @color-41;
        // }       
    }
}