.b-tab-content {
    display: none;

    -webkit-animation: fade 0.7s;
    animation: fade 0.7s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}