.b-title {    

    &--h2 {
        padding-top: 15px;
        padding-bottom: 10px;        
        font-size: 20px;
        line-height: 25px;

    }

    &--h2-brand {
        padding-left: 0;
    }

    &--h2-product {
        padding-left: 10px;
    }

    // &--h2-recently-viewed {
    //     margin: 0;
    //     padding: 0;
    //     top: 0;
    //     left: 0;
    // }

    // &--h2-subscribe {
    //     padding-top: 20px;
    //     margin-top: 20px;
    //     padding-bottom: 25px; 
    //     font-size: 20px; 
    //     line-height: 21px;      
    // }

    &--knowledge {
        padding-top: 40px;
        padding-bottom: 80px;
        font-size: 25px;
        
    }

    // &--h3 {
    //     line-height: 21px;
    //     padding-top: 20px;
    //     padding-bottom: 14px;        
        
    // }

    // &--trigger {
    //     position: relative;
    //     transition: 0.3s ease;

    //     &:hover {
    //         color: @color-12;
    //     }

    //     &::after {
    //         .after(13px, 25px);
    //         background: url("../img/spritesheet.png") no-repeat;
    //         background-position: -833px -10px;
    //         transform: rotate(-90deg);
    //         right: 6px;
    //         top: 30%;
    //         transition: 0.5s ease;
    //     }        
    // }

    // &--article {
    //     padding: 0;
    //     font-size: 25px;
    //     line-height: 45px;
    // }

    // &--hidden {
    //     display: block;
    //     width: 100%;
    //     border-bottom: 1px solid @color-07;
    // }
}