.b-title {    

    &--h2 {
        padding-top: 25px;
        padding-bottom: 10px;        
        font-size: 20px;
        line-height: 45px;

    }

    &--h2-brand {
        padding: 0;
    }

    &--h2-product {
        padding: 0;
    }

    &--h2-recently-viewed {
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
    }

    &--h2-subscribe {
        padding-top: 20px;
        padding-bottom: 15px;        
    }

    &--knowledge {
        padding-top: 15px;
        padding-bottom: 20px;
        font-size: 30px;
        
    }

    &--h3 {
        
    }

    &--article {
        padding: 0;
        font-size: 30px;
        line-height: 35px;
    }
}