.b-title {
    margin: 0;
    padding: 0;

    &--h2 {
        padding-top: 45px;
        padding-bottom: 30px;
        color: @color-016;
        font-size: 25px;
        line-height: 45px;

    }

    &--h2-banner {
        padding-left: 5px;
    }

    &--h2-brand {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
    }

    &--h2-product {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
    }

    &--h2-recently-viewed {
        position: absolute;
        margin: 0;
        padding: 0;
        top: -10px;
        left: 0;
    }

    &--h2-subscribe {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    &--knowledge {
        padding-top: 55px;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 25px;
        font-weight: 300;

        span {
            font-weight: bold;
        }
    }

    &--h3 {
        font-weight: bold;
        padding-top: 35px;
        padding-bottom: 10px;
        color: @color-03;
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
        text-decoration: none;
    }

    &--article {
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 35px;
        line-height: 45px;

    }

    &--article-bracelet {
        color: @color-f;
    }

    &--hidden {
        display: none;
    }

}