.b-top-panel {
    width: auto;
    min-height: 45px;
    border-bottom: 1px solid @color-01;
    text-transform: uppercase;
    padding-top: 15px;
    box-sizing: border-box;

    text-transform: uppercase;
    color: @color-06;

    a {
        text-decoration: none;

    }

    &__container {
        .flex-type-1();
    }

    &__phone {
        font-size: 15px;
        color: @color-03;
        font-weight: bold; 
    }        
}


