.b-user-nav {
    .flex-type-2();
    justify-content: center;
    .ul-0();
    .li-0();

    //outline: 2px solid blue;
    margin-left: 40px;

    &__item {
        width: auto;
        margin-right: 30px;
        transition: 0.3s ease;
        //outline: 2px solid red;
        //color: rgba(255, 255, 255, 0);

        &--active {

            a {
                color: @color-16;
            }

            a:hover {
                color: @color-16;
            }

            a:active {
                color: @color-16;
            }
        }

        &--catalog {
            display: none;
        }


    }

    &__link {
        display: block;
        padding: 10px 0;

        padding-top: 0;
        //outline: 1px solid blue;

        &:hover {
            color: @color-0;
        }

        &:active {
            color: @color-09;
        }
    }
}