.b-user-nav {    
    // font-size: 11px;
    // font-weight: bold;
    // display: none;
    width: 100%;   
    // position: absolute;
    // top: 55px;
    // left: 0;
    // margin: 0;
    // flex-direction: column;
    // z-index: 10;
    background-color: rgba(255, 255, 255, 1);
    // padding: 0;
    // padding-bottom: 0;
    // border-right: 1px solid @color-07;
    // transform: scaleY(0);
    // transition: 0.5s ease;
    // transform-origin: 50% 0;


    // &--show {
    //     transform: scaleY(1);
    //     // display: block;
        
    // }

    &__item {
        // margin: 0;
        // padding: 7px 20px;
        // border-bottom: 1px solid @color-07;

        &:hover {
            background-color: @color-01;
        }

        // &:active {
        //     background-color: rgba(225, 225, 225, 0.9);
        // }

    //     &--active {
    //         order: -1;
    //         border-top: 1px solid @color-07;

    //         &:hover {
    //             background-color: rgba(255, 255, 255, 0);
    //         }
        }

    //     &--catalog {
    //         display: block;
    //         position: relative;
    

    //         &:hover .b-submenu {
    //             display: block;
    //             // transition: 0.3s ease;
    //         }
    //     }
    // }

    // &__link {
    //     padding: 0;   
    // }
}