.b-user-nav {    
    font-size: 11px;
    font-weight: bold;
    width: 62%;
    margin-left: 20px;

    &__item {
        margin-right: 15px;
    }

    &__link {
        padding: 0;   
    }
}