* {
    box-sizing: border-box;
}

html,
body {
	width: auto;
    min-height: 1000px;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/Museo-Sans-Cyrl-300.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/Museo-Sans-Cyrl-500.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/Museo-Sans-Cyrl-700.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/Museo-Sans-Cyrl-900.ttf');
    font-weight: 900;
    font-style: normal;
}

body {
    font-size: 13px;
    line-height: 21px;
    color: @color-016;
    font-weight: normal;
    font-family: 'Museo Sans Cyrl', sans-serif;

    button, a, input {
        outline: none;
        transition: 0.3s ease;
        box-sizing: border-box;
    }
}

a {
    .a();
}



