//переменные и миксины 
@import "mixins.less";
@import "variables.less";

//базовые стили
@import "body.less";
@import "b-wrapper.less";

//slick slidergit sta
@import "slick.less";

//"дополнительные" блоки
@import "b-button.less";
@import "b-title.less";
@import "b-link.less";
@import "b-img-container.less";

@import "b-carousel.less";
@import "b-slideshow.less";
@import "b-accordeon.less";

//основные(сеточные) блоки

@import "b-header-page.less";
    @import "b-top-panel.less";
        @import "b-select-sity.less";
        @import "b-user-nav.less";
   @import "b-header-block.less";
        @import "b-search.less";
            @import "b-input.less";
            @import "b-account.less";
    @import "b-main-nav.less";  

    @import "b-submenu.less"; 

@import "b-main-page.less";
    @import "b-banner.less";
    @import "b-features.less";
    @import "b-product.less";
    @import "b-brand.less";
    @import "b-advertisement.less";
    @import "b-recommended-product.less";
        @import "b-product-list.less";
        @import "b-product-card.less";

    @import "b-advice.less";
        @import "b-tabs.less";
        @import "b-tab-container.less";
            @import "b-tab-content.less";
                @import "b-article.less";
    @import "b-recently-viewed.less";
    @import "b-subscribe.less";  
    
    
@import "b-footer-page.less";
    @import "b-social-links.less";
        @import "b-social-link.less";
    @import "b-copyright.less";   

//MQ

@media @tablet-big {
    @import "style.tablet-big.less";
}

@media @tablet {
    @import "style.tablet.less";
}

@media @mobile {
    @import "style.mobile.less";
}       