//вьюпорты
@tablet-big: ~"(max-width: 1280px)";
@tablet: ~"(max-width: 960px)";
@mobile: ~"(max-width: 600px)";
@mobile-mini: ~"(max-width: 320px)";

//цвета 
@color-0: #000000;

@color-01: #eeeeee; //серый 
@color-02: #f5f5f5; //серый
@color-03: #333333; //серый
@color-04: #d7dcde; //серый
@color-05: #555555; //серый
@color-06: #666666; //серый
@color-016: #161616; //серый
@color-07: #dddddd; //серый
@color-08: #fafafa; //серый
@color-09: #999999; //серый
@color-010: #efede7; //светло-серый
@color-011: #e4e1d9; //светло-серый
@color-012: #ccc8bd; //серый
@color-013: #c1c8bd; //серый

@color-f: #ffffff;

@color-r: #ff0000;
@color-11: #E92529; //красный
@color-12: lighten(@color-11, 20%); //светло-красный
@color-121: lighten(@color-11, 30%); //светло-красный
@color-13: #E74C3C; //оранжевый
@color-14: lighten(@color-13, 20%); //светло-оранжевый
@color-15: #ed1f24; //ярко-красный
@color-16: #eb2e2c; //ярко-красный

@color-g: #00ff00;
@color-21: #69bd45; //зеленый
@color-22: #4EB543; 
@color-23: #69bd45; //ярко-зеленый
@color-24: #9df477; //светло-зеленый
@color-25: #19230a; //темно-зеленый

@color-b: #0000ff;
@color-31: #3F3CCB; //синий1
@color-32: #2D2D44; //синий2 
@color-33: #312885; //синий3
@color-34: #2b2f38; //синий4
@color-35: #3d3491; //синий5(сеточка)
@color-36: #000033; //темно-синий
@color-37: #11375d; //синий (А) rgb(17, 55, 93)
@color-38: #309ace; //голубой

@color-41: #ffdc00; //желтый1




//размеры шрифтов
@size-1: 12px;
@size-01: 13px;
@size-2: 14px;
@size-3: 15px;
@size-4: 16px;
@size-5: 18px;
@size-6: 20px;
@size-7: 22px;
@size-8: 24px;
@size-9: 27px;
@size-10: 30px;
@size-12: 36px;
@size-20: 60px;

//межстрочный интервал
@l-height-1: 18px;
@l-height-2: 20px;
@l-height-02: 21px;
@l-height-3: 22px;
@l-height-4: 24px;
@l-height-5: 28px;
@l-height-6: 30px;
@l-height-7: 36px;
@l-height-8: 40px;
@l-height-20: 60px;
